<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Designs </title>
    <link rel="stylesheet" href="{% static 'css/viewdesign.css' %}">
</head>
<body style="background: url('/static/image/living-room-2732939_1920.jpg');">
    <div class="title-div"><h2 class="title">View Designs</h2></div>
    <div class="container">
        {% for d in data %}
        <div class="card">
            <img style="width: 220px; height: 200px;" src="{{ d.image.url }}" alt="">
            <h1>{{ d.type }}</h1>
            <div class="div2">
                <h4>Price: {{ d.price }}</h4>
                <h4>Style: {{ d.style }}</h4>
                <h4>Area: {{ d.area }}</h4>
                <h4>Material: {{ d.material }}</h4>
                <p>{{ d.description }}<p>
            </div>
            <a href="{% url 'editDesign' d.id %}" class="btn">Edit</a> <a href="{% url 'deleteDesign' d.id %}" class="btn btnd">Delete</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>